/* Mobile & Tablet */
@media (max-width: 1023px) {
    
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::before {
        display: none;
    }
    
    .header__cart-wrap::after {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .header__sort-item:nth-child(2) {
        border-bottom: 1px solid red;
    }

    .container {
        margin: calc(var(--header-height) + 30px) 4px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__logo, .header__cart {
        width: unset;
    }

    .header__logo-img {
        width: 110px;
    }

    .header__cart-wrap {
        padding: 0 12px;
    }

    .header__cart-notice {
        right: 2px;
    }

    .header__search {
        position: fixed;
        top: calc(var(--header-height));
        right: 0;
        left: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 8px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            height: 0;
        }
        to {
           opacity: 1;
           height: 46px;
        }
    }

    .header__search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .header__search-history-item, .header__search-history-heading {
        padding-left: 24px;
    }

    .header__mobile-search {
        display: block;
    }


    .product__pagination-item {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
        margin: 0;
    }

    .footer {
        padding: 8px 16px 0;
    }

    .footer__heading {
        text-align: center;
    }

    .footer__item-link {
        justify-content: center;
    }

    .col.l-2-4.m-8.c-12 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__download-app-link {
        display: block;
        padding: 6px 8px;
    }
}